@page "/showweatherdata"
@using Microsoft.Extensions.Logging
@using WeatherApplication.Shared.Dtos.Weather
@inject HttpClient Http
@inject ILogger<ShowWeatherData> _logger

@if (forecasts != null)
{
    <h1>@forecasts.CityName ,@forecasts.CountryName</h1>
    <WeatherApplication.Client.Components.MainWeatherData ForecastData="@forecasts"/>
    <WeatherApplication.Client.Components.ForecastGrid />
    <div class="test">Test2</div>
}
else
{ 
    <h1>Weather Data not loaded!</h1>
}


@code {
    private WeatherForecastData forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<WeatherForecastData>("WeatherForecast");
        }
        catch (Exception ex)
        {
            forecasts = new WeatherForecastData
            {
                CityName = "Something went wrong",
                CountryName = "Exception",
                Weather = new WeatherData[] {
                    new WeatherData(){ DateTime = DateTime.Now , TemperatureFeelsLike = 25 , LooksLike = "Very exceptiony" , Temperature = 30 , LocationName ="Ex.Message" , WindDirection = 3 , WindSpeed = 12}
                }
            };
        }

    }

}
