@page "/subscriptionpage"
@using Microsoft.Extensions.Logging
@using WeatherApplication.Shared.Dtos.Misc
@inject HttpClient Http
@inject ILogger<SubscriptionPage> _logger

<h1>This is your subscriptions page!2</h1>

@if (subscriptions != null)
{
    <div>
    @subscriptions.FirstName ,
    @subscriptions.LastName ,
    @subscriptions.SubscriberUntil 
    </div>
}



@code {
    private Subscription subscriptions;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Console.WriteLine("Subscription1");
            //var client = new HttpClient { BaseAddress = new Uri("http://subscriptionservice:80") };
            subscriptions = await Http.GetFromJsonAsync<Subscription>("Subscriptions");
            //subscriptions = await Http.GetSubscription("dummy");
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
            _logger.LogError(ex.Message, ex);
        }
    }
}
