@inject IJSRuntime jsRuntime
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
         <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        @if (OptionsList != null)
        {
            @foreach (var option in OptionsList)
            {
                <a href="#@option">@option</a>
            }
        }
    </div>
</div>


@code {
    [Parameter]
    public string[] OptionsList { get; set; }
    //private string[] filteredOptions;
    [Parameter]
    public int MaxShown { get; set; } = 30;
    private string filter = "";
    private void FilterFunction()
    {
        
    }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        jsRuntime.InvokeVoidAsync("myFunction");
        jsRuntime.InvokeVoidAsync("filterFunction");
        jsRuntime.InvokeVoidAsync("setList",OptionsList);
    }
}
